@media (width >= 64em) {
  :root {
    --max-width: 80em;
  }
}

@media (width <= 390px) {
  body {
    max-width: var(--max-width);
    margin-inline: auto;
  }
}

@media (750px <= width < 64em) {
  :root {
    --max-width: 1024px;
  }
}

@media (width >= 750px) {
  .desktop-only {
    display: inline-block;
  }
}

@media (width >= 60em) {
  #hero {
    padding-bottom: 24rem;

    &::before {
      left: 0;
      bottom: -3rem;
      filter: blur(800px);
    }
    &::after {
      right: 0;
      bottom: -12rem;
      filter: blur(800px);
    }
    & nav {
      padding: 3.5rem;
    }
    & header {
      padding-top: 10.25rem;
      & h1 {
        font-size: 3rem;
      }
      & p {
        font-size: 1.25rem;
        margin-top: 1rem;
      }
    }
  }
}
