@media (width >= 64em) {
  :root {
    --max-width: 80em;
  }
}

@media (width <= 390px) {
  body {
    max-width: var(--max-width);
    margin-inline: auto;
  }
}

@media (750px <= width < 64em) {
  :root {
    --max-width: 1024px;
  }
}
